body {
  background-color: #000;
}

.title {
  color: red;
  font-size: 72px;
  text-align: center;
  font-family: "Aircruiser", sans-serif;
  /* font-family: "Aircruiser 3D", sans-serif; */
  /* font-family: "Aircruiser Title", sans-serif; */
}

.upload_icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#upload {
  background-color: red;
  color: #fff;
}

.upload-button {
  display: flex;
  justify-content: center;
}

.upload_icon {
  width: 100px;
  height: 90px;
}

.image-preview {
  width: 284px;
  height: 370px;
  margin-right: 10px;
}

/* classify button */
#classify-button {
  padding: 10px 20px;
  background: #35cedd;
  border: none;
}

/* result page */

.result-page_container {
  background-color: #000;
  color: #fff;
}

.login_btn_home {
  color: #fff;
  cursor: pointer;
  background-color: #27aebb;
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.login_btn_home a {
  text-decoration: none;
}

/* Update input field style */
.input-group {
  margin-bottom: 20px;
}

.input-field {
  width: 400px; /* Set width of input fields */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #6a7dff; /* Change border color on focus */
}

/* Style login button */
.login-btn {
  width: 122px;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  background-color: #6a7dff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #4f5bf6; /* Change background color on hover */
}

/* Center align container and form */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 100%;
  max-width: 400px;
}

.login_text {
  color: #fff;
}
