{% extends 'base.html' %}

{% load static %}


{% block title %} Home Page {% endblock title %}

{% block content %}

    <h1 class="title">Classifiers</h1>
    <span class="login_btn"> <a href="{% url 'login' %}">Login</a></span>

    <div class="upload-container">
      <!-- Hidden file input -->
      <!-- <input type="file" id="upload" accept="image/*" style="display: none" multiple webkitdirectory directory onchange="previewFiles(event)"> -->
      <input
        type="file"
        id="upload"
        accept="image/*, .zip"
        style="display: none"
        multiple
        webkitdirectory
        directory
        onchange="previewFiles(event)"
      />

      <!-- Button with icon -->
      <label for="upload" class="upload-button">
        <img
          class="upload_icon"
          src="{% static 'images/upload.png' %}"
          alt="Upload Icon"
        />
      </label>
      <!-- Image preview container -->
      <div class="image-preview-container" id="image-preview-container"></div>
      <!-- Classify button -->
      <button id="classify-button" style="display: none">
        <a href="{% url 'images_result' %}"> Classify </a>
      </button>
    </div>
    <script>
      function classifyImages() {
        window.location.href = "/images_result"; // Redirect to the images_result page
      }

      function previewFiles(event) {
        const input = event.target;
        const previewContainer = document.getElementById(
          "image-preview-container"
        );
        const classifyButton = document.getElementById("classify-button");

        if (input.files && input.files.length > 0) {
          previewContainer.innerHTML = ""; // Clear previous previews

          Array.from(input.files).forEach((file) => {
            if (file.type === "image/jpeg" || file.type === "image/png") {
              // If it's an image file, display the image preview
              const reader = new FileReader();
              reader.onload = function (e) {
                const imagePreview = document.createElement("img");
                imagePreview.src = e.target.result;
                imagePreview.alt = "Image Preview";
                imagePreview.classList.add("image-preview"); // Add class to the image
                previewContainer.appendChild(imagePreview);
              };
              reader.readAsDataURL(file);
            } else if (file.name.endsWith(".zip")) {
              // If it's a zip file, handle it
              const formData = new FormData();
              formData.append("zip_file", file);

              fetch("/handle_zip/", {
                method: "POST",
                body: formData,
              })
                .then((response) => {
                  if (response.ok) {
                    console.log("Zip file uploaded and extracted successfully");
                  } else {
                    console.error("Failed to upload or extract zip file");
                  }
                })
                .catch((error) => {
                  console.error("Error:", error);
                });
            }
          });

          // Show the classify button
          classifyButton.style.display = "block";
          classifyButton.addEventListener("click", classifyImages); // Attach click event listener
        } else {
          // Hide the classify button if no images are uploaded
          classifyButton.style.display = "none";
        }
      }
    </script>

{% endblock %}
